:root {
  --primary: #00adb5;
  --background: #222831;
  --secondary: #393e46;
  --text: #eeeeee;
}

#root {
  background-color: var(--background);
}
.navbar-text {
  font-size: 2rem;
  position: relative;
  top: 10px;
}

.logo-margin {
  margin-left: 30px;
}

.score {
  background-color: var(--secondary);
  font-size: 20px;
  color: var(--text);
  text-align: center;
  border-radius: 7px;
  margin: 10%;
}

.score-text {
  font-size: 25px;
  font-weight: 500;
}

.score-val {
  font-size: 20px;
}

.p1,
.p2 {
  font-size: 22px;
  color: var(--text);
  text-align: center;
  margin: 8px 0px 8px 0px;
}

.no-gutters {
  padding: 0px;
  margin: 0px;
}

.pl-title {
  text-align: center;
  color: var(--text);
  margin-top: 10px;
  width: max-content;
}

.hand-val {
  color: var(--text);
  font-size: 15vw;
  text-align: center;
}

.play-area {
  margin-bottom: 10px;
  margin-top: 10px;
}

hr {
  border-color: var(--primary);
  margin-top: 0px;
}

.cric-img {
  max-width: 20vh;
}

.bat,
.ball {
  max-width: 4rem;
}

.buttons {
  margin-top: 3vh;
}
.button-gap {
  margin-top: 3vh;
  margin-bottom: 5vh;
}
.btn {
  font-size: 3vh;
  background-color: var(--primary);
}

.reload {
  max-width: 3vh;
  margin-left: 20px;
}

.reload-text {
  color: var(--text);
  margin-top: 5px;
}

.rl-div {
  cursor: pointer;
  width: 110px;
}
